<div style="height: 50px; text-align: center;" id="footer">
  <p>© Copyright 2020, Dhuro gjak,shpëto jetë!
    <a href="https://www.facebook.com/Dhuro-gjak-shp%C3%ABto-jet%C3%AB-101367558589016"> <img
        src="https://i.pinimg.com/originals/d2/e5/35/d2e5359f8402cb8d3d7b22c463f9013b.png" id='img'>
    </a>
  </p>
</div>

<script>
  document.getElementById('img').style.width = "20px"
  let footer = document.getElementById('footer')

  // footer.style.position = 'fixed'

  // footer.style.maringLeft = 'auto'
  // footer.style.marginRight = 'auto'
  // footer.style.left = '0'
  // footer.style.right = '0'
  // footer.style.bottom = '0'
  // footer.style.textAlign = 'center'
</script>