<div style="height: 50px; text-align: center;" id="footer">
  <p>© Copyright 2020, Dhuro Gjak Shpeto Jete <img
      src="https://i.pinimg.com/originals/d2/e5/35/d2e5359f8402cb8d3d7b22c463f9013b.png" id='img'></p>
</div>

<script>
  document.getElementById('img').style.width = "20px"
</script>