<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>

  <link rel="stylesheet" href="/style/navbar.css">
  <link rel="stylesheet" href="/style/home.css">
  <link rel="stylesheet" href="/style/general.css">


</head>


<body>

  <nav id="nav-links">
    <div class="logo">
      <h4><img width="30" src="/img/giveblood.png" alt=""></h4>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/">Ballina</a>
      </li>
      <li>
        <a href="/regjistrohu_si_dhurues">Regjistrohu</a>
      </li>
      <li>
        <a href="/kycu_dhurues">Kycu</a>
      </li>
      <li>
        <!-- <a href="/kycu_admin"><img width="25" src="img/nurse.png"></a> -->
      </li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <script src="/scripts/app.js"></script>


  <div class="content">
    <div class="container">
      <div id="main">
        <div id="firstDivLeft">
          <h1 id="titulli">Dhuro Gjak, Shpeto Jetee</h1>
          <p id="paragrafi">Pse duhet dhuruar gjak? </br>
            • Të dhurosh gjak do të thotë të shpëtosh jetë. Nëse do t'a pyesje një dhurues të rregullt të gjakut se
            përse e bën këtë, ai pa menduar do të thoshte se po e bën atë që do të dëshironte ta bënin të tjerët, nëse
            do kishte nevojë. </br>
            • Çdo 2 sekonda kërkohet gjak për dikë. Bëhu dhurues gjaku, bëhu shpëtues jete.</p>
        </div>
        <div>
          <img src="img/doctors.png" width="80%" alt="" id="doctorImg">
        </div>
      </div>

    </div>



    <h2 style="text-align: center;">Cfare bene "Dhuro gjak, shpeto jete"?</h2>

    <div class="container">
      <div id="main">
        <div id="quest1" class="divQuest">
          <p class="quest"> <img width="30%" src="img/bloodQuestion1.png" alt=""> </p>
          <p class="divQuestP"> Dokumentimi që dikush ka dhuruar gjak do të jetë më i lehtë.
            Donatori do të regjistrohet në : - Dhuro gjak, shpëto jetë! Dokumentimi nuk do të humbë dhe nuk do ketë
            nevojë që të barten materiale shtesë për të dhuruar prapë gjak.</p>
        </div>
        <div id="quest2" class="divQuest">
          <p class="quest">
            <img width="30%" src="img/bloodQuestion2.png" alt="">
            <img width="30%" src="img/bloodQuestion22.png" alt="">
          </p>
          <p class="divQuestP"> Do të bëhet një ndërlidhje mes dhuruesve dhe marrësve të gjakut, e cila do e bëjë më të
            shpejtë shpëtimin e jetëve në rrezik. </p>
        </div>
        <div id="quest3" class="divQuest">
          <p class="quest"> <img width="30%" src="img/bloodQuestion3.png" alt=""> </p>
          <p class="divQuestP"> Infermierja e spitalit do të shtojë dhuruesit e gjakut në listën e dhuruesve dhe
            marrësit në listën e marrësve. E gjithë sasia e gjakut të dhënë dhe të marrur do të kalkulohet dhe shifrat
            do të tregohen sipas grupeve të gjakut në depozitë.</p>
        </div>
      </div>

    </div>

  </div>

  <%- include ('partials/footer.ejs') %>


    <script>
      let titulli = document.getElementById('titulli').innerHTML
      titulli = titulli.split('')

      let teksti = ''
      let indeksi = 0


      setInterval(() => {

        if (indeksi < titulli.length) {
          console.log(teksti)
          document.getElementById('titulli').innerHTML = teksti
          teksti += titulli[indeksi]
          indeksi++
        }
      }, 100)


    </script>
    <!-- <script src="navbar.js"></script> -->
</body>

</html>
<!----------- Footer ------------>