<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>

  <link rel="stylesheet" href="/style/navbar.css">
  <link rel="stylesheet" href="/style/home.css">
  <link rel="stylesheet" href="/style/general.css">


</head>


<body>

  <nav id="nav-links">
    <div class="logo">
      <h4><img width="30" src="/img/giveblood.png" alt=""></h4>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/">Ballina</a>
      </li>
      <li>
        <a href="/regjistrohu_si_dhurues">Regjistrohu</a>
      </li>
      <li>
        <a href="/kycu_dhurues">Kycu</a>
      </li>
      <li>
        <!-- <a href="/kycu_admin"><img width="25" src="img/nurse.png"></a> -->
      </li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <script src="/scripts/app.js"></script>


  <div class="content">
    <div class="container">
      <div id="main">
        <div id="firstDivLeft">
          <h1 id="titulli">Dhuro Gjak, Shpeto Jetee</h1>
          <p id="paragrafi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quae quam sunt
            eligendi
            expedita
            nobis id? Accusantium rerum quaerat dignissimos facilis aperiam provident, temporibus dolor rem,
            numquam, quos illum tenetur.</p>
        </div>
        <div>
          <img src="img/doctors.png" width="80%" alt="" id="doctorImg">
        </div>
      </div>

    </div>



    <h2 style="text-align: center;">Cfare bene "Dhuro gjak, shpeto jete"?</h2>

    <div class="container">
      <div id="main">
        <div id="quest1" class="divQuest">
          <p class="quest"> <img width="30%" src="img/bloodQuestion1.png" alt=""> </p>
          <p class="divQuestP"> Çdo procedurë e dokumentimit të gjakut do të dëshmohet më lehtë.</p>
        </div>
        <div id="quest2" class="divQuest">
          <p class="quest"> <img width="30%" src="img/bloodQuestion2.png" alt=""> </p>
          <p class="divQuestP"> Çdo procedurë e dokumentimit të gjakut do të dëshmohet më lehtë.</p>
        </div>
        <div id="quest3" class="divQuest">
          <p class="quest"> <img width="30%" src="img/bloodQuestion3.png" alt=""> </p>
          <p class="divQuestP"> Çdo procedurë e dokumentimit të gjakut do të dëshmohet më lehtë.</p>
        </div>
      </div>

    </div>

  </div>

  <%- include ('partials/footer.ejs') %>


    <script>
      let titulli = document.getElementById('titulli').innerHTML
      titulli = titulli.split('')

      let teksti = ''
      let indeksi = 0


      setInterval(() => {

        if (indeksi < titulli.length) {
          console.log(teksti)
          document.getElementById('titulli').innerHTML = teksti
          teksti += titulli[indeksi]
          indeksi++
        }
      }, 100)


    </script>
    <!-- <script src="navbar.js"></script> -->
</body>

</html>
<!----------- Footer ------------>