<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak,shpëto jetë!</title>
  <link href="giveblood.png" rel="icon" type="image/gif">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="generalStyle.css">
  <!-- / Boostrap4 -->
  <link rel="stylesheet" href="navAndFooter.css">
  <link rel="stylesheet" href="kycu.css">
  <link href="style.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


</head>

<body>
  <%- include ('partials/navbar.ejs') %>

  <section class="marginTB">
    <center>
      <div class="box">
        <img width="50px" src="giveblood.png">
        <h4> Kyçu si dhurues</h4>
        <br>
        <form method="POST" action="kycu_dhurues_form">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <div class="form-group">
                <!-- <label for="usr">Email:</label> -->
                <input type="text" class="form-control" id="usr" name="kycu_dhurues_email" placeholder="Email">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <div class="form-group">
                <!-- <label for="usr">Pasword:</label> -->
                <input type="password" class="form-control" id="usr" name="kycu_dhurues_pw" placeholder="Password">
              </div>

              <input type="submit" id="submitBTN" value="Kyçu" class="btn btn-danger">
              <p style="color:red;"><%= errorStatement %></p>
        </form>
      </div>


    </center>
  </section>

  <!----------- Footer ------------>
  <%- include ('partials/footer.ejs') %>

</body>

</html>