<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak,shpëto jetë!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- new style -->

  <link rel="stylesheet" href="style/forms.css">
  <link rel="stylesheet" href="style/general.css">
  <link rel="stylesheet" href="style/navbar.css">
  <link rel="shortcut icon" href="/img/giveblood.png">
</head>

<body>
  <nav>
    <div class="logo">
      <h4><img width="30" src="/img/giveblood.png" alt=""></h4>
    </div>
    <ul class="nav-links" id="nav-links">
      <li>
        <a href="/">Ballina</a>
      </li>
      <li>
        <a href="/regjistrohu_si_dhurues">Regjistrohu</a>
      </li>
      <li>
        <a href="/kycu_dhurues">Kyçu</a>
      </li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <script src="/scripts/app.js"></script>


  <div class="centerForm">
    <label class="mainLabel">Kyçu si infermier/e </label>
    <div class="formBox marginTB ">
      <form method="POST" action="kycuInfermier">
        <input type="email" name="kycu_admin_email" placeholder="Adresa elektronike">
        <input type="password" name="kycu_admin_password" placeholder="Fjalëkalimi">
        <input type="submit" value="Kyçu">
      </form>
    </div>

    <p style="color:tomato;text-align:center;">
      <%- error %>
    </p>
  </div>

  <!-- <p>kycu_admin_btn</p> -->

  <!----------- Footer ------------>
  <%- include ('partials/footer.ejs') %>

</body>

</html>