<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U verifikua</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="shortcut icon" href="/img/giveblood.png">

    <link rel="stylesheet" href="style/general.css">
    <link rel="stylesheet" href="style/verifikoLlogarine.css">
</head>

<body>
    <div class="main">
        <p class="text">Llogaria juaj u verifikua</h1>
        <p class="second-text">Mund te kyceni ne llogari pas <span class="seconds-nd" id="seconds">5</span> sekondave
        </p>
    </div>
    <script src="/scripts/uVerifikua.js"></script>

</body>

</html>