<html>

<head>
 

  <title>Dhuro gjak,shpëto jetë!</title>
  <link href = "giveblood.png"  rel="icon" type="image/gif">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.couldflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="navAndFooter.css">
  <link rel="stylesheet" href="regjistrohusidhurues.css">
  <link href="style.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body style="
background-image:url('regjistrohu.jpg'); 
background-color: rgba(255,255,255,0.2);
background-blend-mode: lighten;
background-repeat : no-repeat;
background-size: cover;

"
>
  <%- include ('partials/navbar.ejs') %>
<center>
  <div class="box" >
    <form method="POST" action="user_reg">
     
        <h3> <b> Regjistrohu si dhurues </b> </h3>
  
        <div class="row">
          <div class="col-xl-9"></div>
          <div class="col-xl-9">
            <div class="form-group">
              <label for="usr">Emri:</label>
              <input type="text" style="width: 300px;" class="form-control" id="usr" name="reg_user_emri">
            </div>
          </div>
        </div>
  
          <div class="col-xl-9"></div>
     
        <div class="row">
          <div class="col-xl-9">
          <div class="col-xl-9">
            <div class="form-group">
              <label for="usr">Mbiemri:</label>
              <input type="text" style="width: 300px;" class="form-control" id="usr" name="reg_user_mbiemri">
            </div>
            <div class="form-group">
              <label for="usr">Datelindja:</label>
              <input type="text" style="width: 300px;" class="form-control" id="usr" name="reg_user_dtl">
            </div>
            <div class="form-group">
              <label for="usr">Kontakti:</label>
              <input type="text" style="width: 300px;" class="form-control" id="usr" name="reg_user_kontakti">
            </div>
            <div class="form-group">
              <label for="usr">Email:</label>
              <input type="text" style="width: 300px;" class="form-control" id="usr" name="reg_user_email">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" style="width: 300px;" class="form-control" id="pwd" name="reg_user_password">
            </div>
          </div>
            <div class="form-group">
              <label for="usr">Grupi i gjakut:</label>
              <div class="form-check">
                <div class="col-sm-6">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="A+" name="reg_user_gr_gjakut">A+
                  </label>
                </div>
              
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="A-" name="reg_user_gr_gjakut">A-
                  </label>
                </div>
                <div class="form-check">
                  <div class="col-md-6">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" value="B+" name="reg_user_gr_gjakut">B+
                    </label>
                  </div>
                  <div class="form-check">
                    <div class="col-md-6">
  
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="B-" name="reg_user_gr_gjakut">B-
                      </label>
                    </div>
                    <div class="form-check">
                      <div class="col-md-6">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" value="AB+" name="reg_user_gr_gjakut">AB+
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" value="AB-" name="reg_user_gr_gjakut">AB-
                        </label>
                      </div>
                      <div class="form-check">
                        <div class="col-md-6">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="O+" name="reg_user_gr_gjakut">O+
                          </label>
                        </div>
                        <div class="form-check">
                          <div class="col-md-6">
                            <label class="form-check-label">
  
                              <input type="radio" class="form-check-input" value="O-" name="reg_user_gr_gjakut">O-
                            </label>
                          </div>
                        </div>
  
                        <div class="form-group form-check">
                          <div class="form-group">
                            <label for="disabledTextInput">A keni semundje?</label>
  
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="semundje_po"
                                  name="reg_user_semundje">PO
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="semundje_jo"
                                  name="reg_user_semundje">JO
                              </label>
                            </div>
  
  
                          </div>
                          <div class="form-group">
                            <label for="disabledTextInput">A keni tatuazh?</label>
  
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="tatoo_po" name="reg_user_tatoo">PO
                              </label>
                            </div>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" value="tatoo_jo" name="reg_user_tatoo">JO
                              </label>
                            </div>
  
                          </div>
                          <input type="Submit" value="Regjistrohu" class="btn-danger " style="width: 200px;">
      </center>
      </fieldset>
    </form>
  </div>
  
  </center>
<br> <br> <br> <br>
    <!----------- Footer ------------>
    <%- include ('partials/footer.ejs') %>
 
</body>

</html>