<!DOCTYPE html>
<html>

<head>
  <title>Dhuro gjak,shpëto jetë!</title>
  <link href="giveblood.png" rel="icon" type="image/gif">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="style/general.css">
  <link rel="stylesheet" href="style/forms.css">
  <link rel="stylesheet" href="style/navbar.css">
  <link rel="shortcut icon" href="/img/giveblood.png">

</head>

<body>
  <nav id="nav-links">
    <div class="logo">
      <h4><img width="30" src="/img/giveblood.png" alt=""></h4>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/dil" style="color:tomato;">Dil</a>
      </li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <script src="/scripts/app.js"></script>

  <div class="centerForm">
    <label class="mainLabel">Regjistro një infermier/e </label>
    <div class="formBox marginTB ">
      <form method="POST" action="/nurseRegister">
        <input name="emri" type="text" placeholder="Emri dhe Mbiemri">
        <input name="emriSpitalit" type="text" placeholder="Emri i Spitalit">
        <input name="lokacioni" type="text" placeholder="Lokacioni">
        <input name="email" type="email" placeholder="Adresa elektronike">
        <input name="password" type="password" placeholder="Fjalëkalimi">
        <input type="submit" value="Regjistro">
      </form>
    </div>
  </div>
  </center>

  <div class="distanca"></div>

  <!----------- Footer ------------>
  <%- include ('partials/footer.ejs') %>

</body>

</html>