<html>

<head>


  <title>Dhuro gjak,shpëto jetë!</title>
  <link href="giveblood.png" rel="icon" type="image/gif">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- new styles -->
  <link rel="stylesheet" href="style/forms.css">
  <link rel="stylesheet" href="style/general.css">
  <link rel="stylesheet" href="style/navbar.css">
</head>

<body>

  <nav>
    <div class="logo">
      <h4><img width="30" src="/img/giveblood.png" alt=""></h4>
    </div>
    <ul class="nav-links" id="nav-links">
      <li>
        <a href="/">Ballina</a>
      </li>
      <li>
        <a href="/regjistrohu_si_dhurues">Regjistrohu</a>
      </li>
      <li>
        <a href="/kycu_dhurues">Kycu</a>
      </li>
    </ul>

    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <script src="/scripts/app.js"></script>

  <div class="centerForm">
    <label class="mainLabel">Regjistrohu Si Dhurues </label>
    <div class="formBox marginTB ">
      <form method="POST" action="user_reg">
        <input type="text" name="reg_user_emri" id="" placeholder="Emri">
        <input type="text" name="reg_user_mbiemri" id="" placeholder="Mbiemri">

        <select name="reg_user_gr_gjakut" required>
          <option value="" disabled selected>Grupi i Gjakut</option>
          <option value="A-">A-</option>
          <option value="A+">A+</option>
          <option value="B-">B-</option>
          <option value="B+">B+</option>
          <option value="AB-">AB-</option>
          <option value="AB+">AB+</option>
          <option value="O+">0-</option>
          <option value="O+">0+</option>
        </select>

        <label for="ditelindja">Ditelindja</label>
        <input type="date" name="reg_user_dtl" id="ditelindja" required>
        <input type="number" name="reg_user_kontakti" id="" placeholder="Kontakti" required>
        <input type="email" name="reg_user_email" id="" placeholder="email" required>
        <input type="password" name="reg_user_password" id="" placeholder="Fjalekalimi" required>
        <!-- <input type="password" name="" id="" placeholder="" required> -->

        <select name="reg_user_semundje" required>
          <option value="" disabled selected>semundje ngjitese?</option>
          <option value="jo">Jo</option>
          <option value="po">Po</option>
        </select>

        <input type="submit" value="Regjistrohu">
      </form>
    </div>
    <p style="color:tomato;text-align:center;">
      <%- error %>
    </p>
  </div>
  <%- include ('partials/footer.ejs') %>

</body>

</html>