.center {
    display: flex;
    justify-content: center;
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.padding {
    padding:1%;
}

.paddingMedium {
    padding:10%;
}

.marginTB {
    margin: 5% 0;
}

.textMedium {
    font-size: 150%;
}

.textHuge {
    font-size: 200%;
}


.centerMargin {
    width: 50%;
    margin : 0 auto;
}