
/* Per llaptop */
@media screen and (min-width: 600px) {
        *{
            /* color:#6c757d; */
            color:#696969;
        }

    #main {
        margin: 5% 0;
        display: flex;
        /* animation: MoveText 3s; */
        
    }

    .container {
        margin: 3%;
    }

    #doctorImg {
        /* 
        -webkit-transition: -webkit-transform .2s ease-in-out;
                transition:         transform .2s ease-in-out; */
        animation: MoveImages 3s;
    }
    /* #doctorImg:hover {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph; 
        filter: fliph; 
    } */

    @keyframes MoveImages {
        0% {
            transform: translate(250px, 0px);
            opacity: 0.3;
        }

        100%{
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    #paragrafi {
        animation: MoveText 3s;
    }

    @keyframes MoveText {
        0% {
            transform: translate(0px, 250px);
            opacity: 0.3;
        }

        100%{
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    .quest{
        text-align: center;
    }

    .divQuest {
        border-radius: 30px;
        background-color: ;
          margin:3% 5%;
        padding:3% 5%;
        color:white;
    }

    #quest1 {
        background-color: #146dad;
    }

    #quest2 {
        background-color: #e14e3f;
    }

    #quest3 {
        background-color: #146dad;
    }

    .divQuestP {
        color:white;
    }

    #firstDivLeft {
        margin-top:5%;
    }

    #titulli {
        font-size: 300%;
    }

    .footer {
    
    /* background-color: black; */
    
    }
}

/* per telefon */
@media screen and (max-width: 600px) {
    #titulli {
        font-size: 300%;
    }

    .quest{
        text-align: center;
    }

    .divQuest {
        border-radius: 30px;
        /* background-color: ; */
        margin:5% 5%;
        padding:5% 5%;
        color:white;
    }

    #quest1 {
        background-color: #146dad;
    }

    #quest2 {
        background-color: #e14e3f;
    }

    #quest3 {
        background-color: #146dad;
    }

    .divQuestP {
        color:white;
    }

    *{
        /* color:#6c757d; */
        color:#696969;
    }
}