
/* Per llaptop */
@media screen and (min-width: 600px) {
        *{
            /* color:#6c757d; */
            color:#696969;
        }

    #main {
        margin: 5% 0;
        display: flex;
    }

    .container {
        margin: 5%;
    }

    #doctorImg {
        border-radius: 50%;
        -webkit-transition: -webkit-transform .2s ease-in-out;
                transition:         transform .2s ease-in-out;
    }
    #doctorImg:hover {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        -ms-filter: fliph; /*IE*/
        filter: fliph; /*IE*/
    }

    .quest{
        text-align: center;
    }

    .divQuest {
        border-radius: 30px;
        background-color: ;
        margin:0 5%;
        padding:0 5%;
        color:white;
    }

    #quest1 {
        background-color: #146dad;
    }

    #quest2 {
        background-color: #e14e3f;
    }

    #quest3 {
        background-color: #146dad;
    }

    .divQuestP {
        color:white;
    }

    #firstDivLeft {
        margin-top:5%;
    }

    #titulli {
        font-size: 300%;
    }

    .footer {
    
    /* background-color: black; */
    
    }
}

/* per telefon */
@media screen and (max-width: 600px) {
    #titulli {
        font-size: 300%;
    }

    .quest{
        text-align: center;
    }

    .divQuest {
        border-radius: 30px;
        /* background-color: ; */
        margin:5% 5%;
        padding:5% 5%;
        color:white;
    }

    #quest1 {
        background-color: #146dad;
    }

    #quest2 {
        background-color: #e14e3f;
    }

    #quest3 {
        background-color: #146dad;
    }

    .divQuestP {
        color:white;
    }

    *{
        /* color:#6c757d; */
        color:#696969;
    }
}